.center-box{
  display: flex;
  justify-content: center;
}

.content-box{
  display: flex;
  flex-direction: column;
}

img {
  /*display: block;*/
  height: 70vh;
  width: auto;
  max-width: 100%;
}

.title {
  font-weight: bold;
}
